<!DOCTYPE html>
<html>
<head>
        {embed="header/_header"}
</head>
<body>

  <div class="main">

    {embed="header/_nav-bar"}
	{embed="header/_sub-head" header_text="Videos"}

    <div class="featured-video section">
      
      <div class="featured-video__caption position-absolute">
        <span class="featured-video__caption__label">
        	Featured Video
        </span>
        <h3 class="featured-video__caption__header">
        	The Old Man and the Seymour
        </h3>
        <img class="featured-video__caption__arrow position-absolute" src="/images/arrow.png" />
      </div>
      
      <img class="featured-video__image" src="/images/image-featured.jpg" />
    </div>
    
    <div class="section">
      {exp:channel:entries channel="videos"}   
        <div class="grid--2up">
          <div class="grid__image" style="background-image:url({video_thumbnail});">
          </div>
          <h4 class="grid__subhead">
            <a href="videos/video/{url_title}">The Old Man and the Seymour</a>
          </h4>
          <p>
            {video_description}
          </p>
        </div>
      {/exp:channel:entries}
    </div>
    
    {embed="footer/_footertett"}
    
  </div>
</body>
</html>