<!DOCTYPE html>
<html>
<head>
        {embed="header/_header"}
</head>
<body>

  <div class="main">

    {embed="header/_nav-bar"}
	{embed="header/_sub-head" header_text="News"}

    <div class="section">
	  <div class="news-item">
		<h3 class="news-item__header">Lorem ipsum dolor sit amet</h3>
	  	<p class="news-item__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
	  </div>
	  <div class="news-item">
		<h3 class="news-item__header">Lorem ipsum dolor sit amet</h3>
	  	<p class="news-item__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
	  </div>
	  <div class="news-item">
		<h3 class="news-item__header">Lorem ipsum dolor sit amet</h3>
	  	<p class="news-item__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
	  </div>
	  <div class="news-item">
		<h3 class="news-item__header">Lorem ipsum dolor sit amet</h3>
	  	<p class="news-item__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
	  </div>
	  <div class="news-item">
		<h3 class="news-item__header">Lorem ipsum dolor sit amet</h3>
	  	<p class="news-item__body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
	  </div>
      
    </div>
    
    {embed="footer/_footer"}
    
  </div>
</body>
</html>