<div class="section--full navigation-bar" data-js="flex-nav">
  <div class="section--mini">
    <a href="/"><img class="navigation-bar__logo" src="/images/logo.png"/></a>
    <i class="navigation-bar__nav__icon fa fa-2x fa-bars" data-js="nav-expand"></i>
    <nav class="navigation-bar__nav">
    <ul>
      <li><a href="/?/videos">Videos</a></li>
      <li><a href="/?/writing">Writing</a></li>
      <li><a href="/?/news">News</a></li>
      <li><a href="/?/about">About</a></li>
      <li><a href="/?/contact">Contact</a></li>
    </ul>
    <ul class="navigation-bar__nav__right">
      <li>
        <a class="twitter" href="https://twitter.com/{twitter-username}" target="_blank">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
      </li>
      <li>
        <a class="youtube" href="https://youtube.com/user/{youtube-username}" target="_blank">
          <i class="fa fa-youtube-play fa-lg"></i>
        </a>
      </li>
      <li>
        <a class="facebook" href="https://facebook.com/{facebook-username}" target="_blank">
          <i class="fa fa-facebook-official fa-lg"></i>
        </a>
      </li>
      </ul>
    </nav>
  </div>
</div>
