<!DOCTYPE html>
<html>
<head>
  {embed="header/_header"}
</head>
<body>
  <div class="main">
    {embed="header/_nav-bar"}
    {exp:channel:entries channel="writing" limit="1"}
      <div class="entry-header section--full">
        <div class="entry-header__image section">
          <img src="{writing_image}" />
        </div>
      </div>
      <div class="section">
        <div class="entry">
          <h3 class="entry__header">{title}</h3>
          <div class="entry__text">
            {writing_article}
          </div>
        </div>
      </div>
    {/exp:channel:entries}
    {embed="footer/_footer"}
  </div>
</body>
</html>
