<!DOCTYPE html>
<html>
<head>
  {embed="header/_header"}
</head>
<body>

  <div class="main">
    {embed="header/_nav-bar"}

    {embed="header/_sub-head" header_text="Writing"}
      <div class="secondary-nav section--full">
        <div class="section--mini">
          <nav class="secondary-nav__nav">
            <ul>
              <li>
                <a class="writing-nav--all" data-filter="*">
                  All Writing
                </a>
              </li>
              <li>
                <a class="writing-nav--comics" data-filter=".comic">
                  Comics
                </a>
              </li>
              <li>
                <a class="writing-nav--articles" data-filter=".article">
                  Articles
                </a>
              </li>
              <li>
                <a class="writing-nav--ecards" data-filter=".ecard">
                  Ecards
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="section--large" data-js="isotope" id="isotope">
        {exp:channel:entries channel="writing"}
          <div class="writing {writing_type}">
            <a href="{title_permalink="writing/article"}">
              <div class="writing__thumbnail">
                <img src="
                  {if writing_thumbnail}
                    {writing_thumbnail}
                  {if:else}
                    {writing_image}
                  {/if}
                ">
              </div>
            </a>
            <h4 class="grid__subhead">
              <a href="{title_permalink="writing/article"}">{title}</a>
            </h4>
            <p class="writing__teaser">{writing_teaser}</p>
            <div class="writing__type">
              <a href="#">{writing_type}</a>
            </div>
          </div>
        {/exp:channel:entries}
      </div>

  {embed="footer/_footer"}
  </div>
</body>
</html>
