<!DOCTYPE html>
<html>
<head>
  {embed="header/_header"}
</head>
<body>

  <div class="main">
    {embed="header/_nav-bar"}

    {embed="header/_sub-head" header_text="Writing"}
      <div class="secondary-nav section--full">
        <div class="section--mini">
          <nav class="secondary-nav__nav">
            <ul>
              <li><a href="/writing">All Writing</a></li>
              <li><a class="comics" data-filter=".comic">Comics</a></li>
              <li><a href="/writing/articles">Articles</a></li>
              <li><a href="/writing/ecards">Ecards</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="section--large" data-js="isotope" id="isotope">
        {exp:channel:entries channel="writing"}
          <div class="grid--3up writing {writing_type}">
            <a href="writing/article/{url_title}">
              <div class="writing__thumbnail">
                <img src="
                  {if writing_thumbnail}
                    {writing_thumbnail}
                  {if:else}
                    {writing_image}
                  {/if}
                ">
              </div>
            </a>
            <h4 class="grid__subhead">
              <a href="writing/article/{url_title}">{title}</a>
            </h4>
            <p class="writing__teaser">{writing_teaser}</p>
            <div class="writing__type">
              {categories}
                <a href="#">{category_name}</a>
              {/categories}
            </div>
          </div>
        {/exp:channel:entries}
      </div>

  {embed="footer/_footer"}
  </div>
</body>
</html>
