.entry {
  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }
}

.entry__header {
  margin-top: 1em;
  font-size: 2em;
}

.entry--video__summary {
  margin-bottom: 2em;

  @include media($medium-screen) {
   @include span-columns(6);
   margin-bottom: 0;
  }

  h3 {
    font-size: 2em;
    font-weight: 500;
    color:$base-blue;
    margin: 0 0 0.4em;
  }
}

.entry--video__crew {
  @include media($medium-screen) {
   @include span-columns(6);
  }

  h4 {
    font-size: 1.5em;
    font-weight: 300;
    color:$dark-navy;
    margin: 0 0 0.4em;
  }

  ul {
    margin: 0 0 1.2em;
  }

  li {
    line-height: 1.4;
    font-size: 0.9em;
    margin: 0 0 0.25em;
  }
}
