.featured-video {
	font-family: $base-font-family;
	position: relative;
}

.featured-video__caption {
	background-color: rgba($base-blue, 0.9);	
	border-top: 1px solid $highlight-blue;
	padding: $base-padding $base-padding*2 $base-padding $base-padding;
	width: 285px;
	bottom: 10%;
	left: 5%;
}

.featured-video__caption__header {
	font-size: 1.75em;
	font-weight: 700;
	color: $white;
	margin: 0.25em 0 0 0;	
}

.featured-video__caption__label {
	color: $highlight-blue;
	font-size: $base-unit;
	text-transform: uppercase;
}

.featured-video__image {
	width: 100%;
	height:auto;
}

.featured-video__caption__arrow {
	display:block;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}