.footer {
  background: url(/images/bg-texture.jpg);

  a {
    color: $white;
  }
}

.footer__copyright {
  text-transform: uppercase;
  color: $white;
  text-align: center;
}

.footer__darken {
  background-color: rgba(37, 106, 143, 0.7);
}

.navigation-bar__nav__right--footer {
  float:right;
  margin-left: -6px;
  padding: 1em 0 0 0;
}

.navigation-bar__nav__right--footer li {
  border: none;
  float: right;

  a {
    color: $white;
    padding: 1em 0.75em;
  }
}

