%grid {
  margin-bottom: 3em;
}

.grid--2up {
  @extend %grid;
  @include span-columns(12);

  @include media($small-screen) {
    @include span-columns(6);
    @include omega(2n);
  }
}

.grid--3up {
  @extend %grid;

  @include media($small-screen) {
    @include span-columns(4);
    @include omega(3n);
  }
}

.grid--4up {
  @extend %grid;

  @include media(max-width $medium-screen) {
    @include span-columns(6);
    @include omega(2n);
  }

  @include media($medium-screen) {
    @include span-columns(3);
    @include omega(4n);
  }
}

.grid__image {
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 20em;

  @include media($large-screen){
    height: 20em;
  }
}

.grid__subhead {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0.5em 0 0.25em;
  text-transform: uppercase;

  a {
    color: $dark-navy;
  }

  p {
    color: #010101;
  }
}
