.clearfix {
  @include clearfix;
}

.overflow {
  overflow: hidden;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.text-small {
  font-size: 0.75em;
}

.text-bold {
  font-weight: bold;
}

$font-weights: (
  thin: 100,
  light: 300,
  regular: 400,
  semibold: 600,
  bold: 700,
  extrabold: 800,
  black: 900
);

@each $font-weight, $font-weight-number in $font-weights {
  .font-weight-#{$font-weight-number} {
    font-weight: $font-weight-number;
  }
}

.white-box {
  @include transition(all 0.25s ease-out);
  border: 2px solid $white;
  color: $white;
  font-size: 0.9em;
  padding: 0.7em;

  &:hover {
    @include transition(all 0.25s ease-out);
    color: $base-blue;
    background-color: $white;
  }
}

