.writing {
  height: auto;
  margin-bottom: 2em;
  padding: 2em;
  width: 100%;

  @include media($large-screen) {
    float: left;
    width: 33%;
  }
}

.writing:hover {
  .writing__thumbnail img {
    max-height: 110%;
    max-width: 110%;
  }
}

.writing__teaser {
  font-size: $small-font-size;
}

.writing__thumbnail {
  height: 16em;
  margin-bottom: 2em;
  position: relative;
  width: 100%;

  img {
    @include position(absolute, 50% null null 50%);
    @include transform(translateX(-50%) translateY(-50%));
    @include transition(max-height 0.25s ease-out, max-width 0.25s ease-out);

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
  }
}

.writing__type {
  a {
    border: 1px solid $light-gray;
    color: $gray;
    display: inline-block;
    font-size: $small-font-size;
    padding: 0.5em;
  }
}
