.navigation-bar {
  @include outer-container;
  margin-bottom: 1.2em;
}

.navigation-bar__logo {
  display: block;
  float: left;
  margin: 0;
  height: auto;
  width: 50%;

  @include media($small-screen) {
    @include span-columns(3);
    max-height: 75px;
    width: auto;
  }
}

.navigation-bar__nav {
  @include clearfix();
  margin-top: 0.5em;

  @include media($small-screen) {
    @include span-columns(9);
    float:right;
    text-align: right;
  }

  ul {
    border: 1px solid $border-blue;
    clear: both;
    display: block;
    max-height: 1px;
    overflow: hidden;
    text-align: right;

    &.expanded {
      max-height: 1000px;
      overflow: visible;
    }

    @include media($small-screen) {
      display: inline-block;
      max-height: 1000px;
      overflow: auto;
    }
  }

  li {

    @include media($small-screen) {
      display: inline-block;
      border-right: 1px solid #2395d8;
    }
  }

  a {
    color: $navigation-font-color;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em;
  }

  li:last-child {
    border-right: none;
  }
}

.navigation-bar__nav__icon {
  display: block;
  float: right;
  padding: 0.5em 0.5em 0 0;

  @include media($small-screen) {
    display: none;
  }
}

.navigation-bar__nav__right {
  margin-left: -6px;
  padding:0 1em;
}

.navigation-bar__nav__right li {
  border: none;
  display: inline-block;
  text-align: center;

  @each $link, $var in
  (twitter: $twitter-color,
  youtube: $youtube-color,
  facebook: $facebook-color) {
    .#{$link} {
      color: $var;
    }
  }

  a {
    padding: 1em 0.5em;
  }
}

