.navigation-bar {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  position: relative;

  @include media($medium-screen) {
    width: 100%;
    z-index: 200;
  }
}

.navigation-bar__logo {
  display: block;
  float: left;
  margin: 0;
  height: auto;
  width: 50%;

  @include media($small-screen) {
    @include span-columns(3);
    max-height: 60px;
    width: auto;
  }
}

.navigation-bar__nav {
  @include clearfix();
  margin-top: 0.5em;

  @include media($small-screen) {
    @include span-columns(9);
    float:right;
    text-align: right;
  }

  ul {
    clear: both;
    display: block;
    max-height: 1px;
    overflow: hidden;
    text-align: right;

    &.expanded {
      max-height: 1000px;
      overflow: visible;
    }

    @include media($small-screen) {
      display: inline-block;
      max-height: 1000px;
      overflow: auto;
    }
  }

  li {

    @include media($small-screen) {
      display: inline-block;
    }
  }

  a {
    @include transition(color 0.5s);
    color: $navigation-font-color;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em 0.6em;
  }

  a:hover {
    color: $navigation-font-hover-color;
  }
}

.navigation-bar__nav__icon {
  display: block;
  float: right;
  padding: 0.5em 0.5em 0 0;

  @include media($small-screen) {
    display: none;
  }
}

.navigation-bar__nav__right {
  display: block;
  margin-left: -6px;
  padding:0 1em;

  @include media ($medium-screen) {
    display: block;
  }
}

.navigation-bar__nav__right li {
  border: none;
  display: inline-block;
  text-align: center;

  @each $link, $var in
  (twitter: $twitter-color,
  youtube: $youtube-color,
  facebook: $facebook-color) {
    .#{$link} {
      color: $var;
    }
  }

  a {
    padding: 1em 0.5em;
  }
}

