.section {
  @include outer-container();

  padding: $base-margin 1em;

  @include media($xlarge-screen) {
    padding: $base-margin 0;
  }
}

.section--full {
  padding: $base-margin 0;
}

.section--mini {
  @extend .section;
  padding-top: 0;
  padding-bottom: 0;
}

.section--gray {
  background-color: #f2f6f7;
  border-top: 2px solid #e1e5e6;
}
