.section {
  @include outer-container();
  padding: $base-margin 1em;

  @include media($xlarge-screen) {
    padding: $base-margin 0;
  }
}

.section--medium {
  @extend .section;
  padding: 2em 1em;

  @include media($xlarge-screen) {
    padding: 2em 0;
  }
}

.section--large {
  @extend .section;
  padding: 3em 1em;

  @include media($xlarge-screen) {
    padding: 3em 0;
  }
}

.section--feature {
  padding: $base-margin 0;

  @include media($medium-screen) {
    @include outer-container();
    padding: $base-margin 1em;
  }

  @include media($xlarge-screen) {
    padding: $base-margin 0;
  }
}

.section--full {
  padding: $base-margin 0;
}

.section--mini {
  @extend .section;
  padding-top: 0;
  padding-bottom: 0;
}

.section--gray {
  background-color: $gray-background;
  border-top: 2px solid #e1e5e6;
}
