<footer class="footer">
  <div class="section">
    <ul class="navigation-bar__nav__right--footer">
      <li>
        <a class="twitter" href="https://twitter.com/{twitter-username}" target="_blank">
          <i class="fa fa-twitter fa-lg"></i>
        </a>
      </li>
      <li>
        <a class="youtube" href="https://youtube.com/user/{youtube-username}" target="_blank">
          <i class="fa fa-youtube-play fa-lg"></i>
        </a>
      </li>
      <li>
        <a class="facebook" href="https://facebook.com/{facebook-username}" target="_blank">
          <i class="fa fa-facebook-official fa-lg"></i>
        </a>
      </li>
    </ul>
    <nav class="position-relative footer__left">
      <ul>
        <li><a class="white-box" href="/commercial">Commercial</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="section--full footer__darken">
    <div class="section footer__copyright font-weight-800">
      All work is copyright &copy; Wiseguy Pictures 2014
    </div>
  </div>
</footer>
<script src="/js/behaviors/nav-scroller.js">
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
<script src="/js/lib/cells-by-row.js"></script>
<script src="/js/behaviors/writing-sort.js"></script>
