body {
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  font-weight: 700;
  letter-spacing: .025em;
  margin-top: 0;
}

$headers: ("h1": 2em, "h2": 1.5em, "h3": 1.17em);
@each $header, $font-size in $headers {
  #{$header} {
    font-size: $font-size;
  }
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
label,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

input[type="submit"] {
  background-color: $base-button-background-color;
  box-shadow: inset 0 -3px 0 darken($base-button-background-color, 5);
}

label {
  cursor: pointer;
  font-size: .75em;
}

p {
  margin: 0 0 $base-margin;
  color: lighten($base-font-color, 25%);
  font-size: $base-font-size;
  line-height: $base-line-height;
}
