// Typography
$sans-serif: "proxima-nova-soft", "Helvetica Neue", Helvetica, Arial, sans-serif;
$sans-serif-alt: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif: "Georgia", Georgia, serif;

$base-font-family: $sans-serif-alt;
$header-font-family: $sans-serif;

// Layout Sizes
$base-unit: 1em;
$base-border-radius: 2px;
$base-font-size: 1em;
$base-line-height: 1.7;
$base-vertical-spacing: ($base-line-height / 2) + em;
$base-content-width: em(800);
$navigation-bar-height: 60px;
$navigation-button-height: $navigation-bar-height;
$base-margin: $base-unit;	
$base-padding: $base-unit;	

// Font Sizes
$header-font-size: 4em;

// Font Sizes Mobile
$font-size-mobile-multiplier: 1.2;
$h1-font-size-mobile: $base-font-size * $font-size-mobile-multiplier * 2.5;
$h2-font-size-mobile: $base-font-size * $font-size-mobile-multiplier * 2;
$h3-font-size-mobile: $base-font-size * $font-size-mobile-multiplier * 1.5;
$h4-font-size-mobile: $base-font-size * $font-size-mobile-multiplier * 1.25;
$h5-font-size-mobile: $base-font-size * $font-size-mobile-multiplier * 1;
$h6-font-size-mobile: $base-font-size * $font-size-mobile-multiplier * 0.875;

// Base Colors
$black: #000;
$base-blue: #0072b1;
$bright-red: #ea2a42;
$blue: #6891d6;
$cold-green: #95d179;
$dark-gray: #555;
$dark-navy: #16182f;
$gray: #bbb;
$highlight-blue: #379dd5;
$light-gray: #eee;
$soft-green: #7ed321;
$white: #ffffff;
$yellow: #fff131;
$yellow-green: #74c557;
$steel-blue: #bdd7d3;

// Background Colors
$base-body-color: $light-gray;
$code-background-color: rgba(245, 245, 245, .3);
$pre-background-color: #333;
$section-background-color: $white;

// Navigation Color

// Border Color
$base-border-color: rgba($black, .1);

// Font Colors
$base-accent-color: $blue;
$base-font-color: $dark-gray;
$base-submit-color: $soft-green;
$navigation-font-color: $dark-navy;

// Form Colors
$base-label-color: $dark-gray;

// Button Colors
$base-button-background-color: $light-gray;
$base-button-color: $base-font-color;
$disabled-button-color: $light-gray;
$primary-button-background-color: $yellow-green;
$primary-button-color: $white;

// State Colors
$active-color: $soft-green;
$inactive-color: $dark-gray;
$active-accent-color: darken($soft-green, 10);
$alert-color: $bright-red;
$notice-color: $yellow;
$success-color: $soft-green;

// Badge Colors
$badge-color: $white;

// Flash Colors
$flash-alert-color: $alert-color;
$flash-notice-color: $notice-color;
$flash-success-color: darken($success-color, 5);

// Text Link Colors
$base-link-color: darken($base-accent-color, 20);
$hover-link-color: darken($base-accent-color, 30);

// Cards
$card-padding: 2em;
$card-vertical-spacer: 1em;

// Progress Bars
$progress-meter-color: $base-accent-color;
$progress-background-color: darken($base-body-color, 8);
$progress-animation-duration: 500ms;


// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// z-indicies
$z-index-in-content: 10;
$z-index-over-content: 20;
$z-index-over-site: 30;

// Conversations
$panel-expand-height: 26em;
$conversation-header-height: 3.25em;
$conversation-emphasis-color: tint($blue, 80%);
