<div class="hero__twitter" data-js="flex-breakpoint">
  <div class="section position-relative">
  <div class="hero__twitter__mascot">
    <img src="/images/character.png">
  </div>

  <div class="hero__twitter__mascot__header">
    <h2>The Latest</h2>
  </div>

  <div class="hero__twitter__feed-item">
    <p>
    For a college that has rolling admissions, 
    this admissions officer seems really put off
    by all the Molly I just took.
    </p>
    <span class="text-small">2:44 PM</span>
    <span class="text-small">4 Aug 2014</span>
  </div>

  <div class="hero__twitter__feed-item">
    <p>
    For a college that has rolling admissions, 
    this admissions officer seems really put off
    by all the Molly I just took.
    </p>
    <span class="text-small">2:44 PM</span>
    <span class="text-small">4 Aug 2014</span>
  </div>

  <div class="hero__twitter__feed-item">
    <p>
    For a college that has rolling admissions, 
    this admissions officer seems really put off
    by all the Molly I just took.
    </p>
    <span class="text-small">2:44 PM</span>
    <span class="text-small">4 Aug 2014</span>
  </div>
  </div>
</div>

<div class="section-full hero__twitter__bottom-bar">
  <div class="section">
  <a class="hero__twitter__bottom-bar__link">
    <i class="fa fa-twitter fa-lg"></i>Follow <span class="font-weight-700">@Wiseguypictures</span>
  </a>
  </div>
</div>
