<!DOCTYPE html>
<html>
<head>
        {embed="header/_header"}
</head>
<body>

  <div class="main">

    {embed="header/_nav-bar"}
    {embed="header/_sub-head" header_text="Contact"}

    <div class="section">
      <h3>
        <a href="mailto:info@wiseguypictures.net">info@wiseguypictures.net</a>
        <br>
        Giancarlo Fiorentini<br>
        email@email.com<br>
        Jonathan Grimm<br>
        email@email.com<br>
      </h3>
    </div>

    {embed="footer/_footer"}

  </div>
</body>
</html>