<!DOCTYPE html>
<html>
<head>
  {embed="header/_header"}
</head>
<body>
	<div class="main">
      {embed="header/_nav-bar"}

      
      <div class="hero section--full" style="background-image:url(/images/hero-about.jpg); background-size:cover;">
      </div>
      
	  <div class="section">
      	<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
	  </div>
    
    {embed="footer/_footer"}
	</div>
  </body>
</html>