html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  color: #555;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "proxima-nova-soft", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  letter-spacing: .025em;
  margin-top: 0; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.17em; }

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

input,
label,
select,
textarea {
  display: block;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em; }

input[type="submit"] {
  background-color: #eee;
  box-shadow: inset 0 -3px 0 #e1e1e1; }

label {
  cursor: pointer;
  font-size: .75em; }

p {
  margin: 0 0 1em;
  color: #555;
  font-size: 1em;
  line-height: 1.6; }

.featured-video {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative; }

.featured-video__caption {
  background-color: rgba(0, 114, 177, 0.9);
  border-top: 1px solid #379dd5;
  padding: 1em 2em 1em 1em;
  width: 285px;
  bottom: 10%;
  left: 5%; }

.featured-video__caption__header {
  font-size: 1.75em;
  font-weight: 700;
  color: #ffffff;
  margin: 0.25em 0 0 0; }

.featured-video__caption__label {
  color: #379dd5;
  font-size: 1em;
  text-transform: uppercase; }

.featured-video__image {
  width: 100%;
  height: auto; }

.featured-video__caption__arrow {
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }

.footer {
  background: url(/images/bg-texture.jpg); }
  .footer a {
    color: #ffffff; }

.footer__copyright {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center; }

.footer__darken {
  background-color: rgba(37, 106, 143, 0.7); }

.navigation-bar__nav__right--footer {
  float: right;
  margin-left: -6px;
  padding: 1em 0 0 0; }

.navigation-bar__nav__right--footer li {
  border: none;
  float: right; }
  .navigation-bar__nav__right--footer li a {
    color: #ffffff;
    padding: 1em 0.75em; }

.grid-2up {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%;
  color: #010101; }
  .grid-2up:last-child {
    margin-right: 0; }
  .grid-2up:nth-child(2n) {
    margin-right: 0; }
  .grid-2up:nth-child(2n+1) {
    clear: left; }

.grid-3up {
  margin-bottom: 3em; }
  @media screen and (min-width: 31.25em) {
    .grid-3up {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .grid-3up:last-child {
        margin-right: 0; }
      .grid-3up:nth-child(3n) {
        margin-right: 0; }
      .grid-3up:nth-child(3n+1) {
        clear: left; } }

.grid__image {
  overflow: hidden;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 20em; }
  @media screen and (min-width: 56.25em) {
    .grid__image {
      height: 20em; } }

.grid__subhead {
  font-size: 1.5em;
  font-weight: 300;
  margin: 0.5em 0 0.25em; }
  .grid__subhead a {
    color: #191b3f; }
  .grid__subhead p {
    color: #010101; }

.header-title {
  background-image: url("/images/header-background.jpg");
  height: 144px;
  overflow: hidden; }

.header-title__character {
  display: block;
  float: right;
  margin-top: -1em;
  width: 100px;
  height: auto; }

.header-title__text {
  color: #ffffff;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 4em;
  font-weight: 100;
  text-transform: uppercase; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.text-small {
  font-size: 0.75em; }

.text-bold {
  font-weight: bold; }

.font-weight-100 {
  font-weight: 100; }

.font-weight-300 {
  font-weight: 300; }

.font-weight-400 {
  font-weight: 400; }

.font-weight-600 {
  font-weight: 600; }

.font-weight-700 {
  font-weight: 700; }

.font-weight-800 {
  font-weight: 800; }

.font-weight-900 {
  font-weight: 900; }

.white-box {
  border: 2px solid #ffffff;
  color: #ffffff;
  padding: 1em; }

.hero {
  height: 575px;
  overflow: hidden; }

.hero__image__text {
  color: #ffffff;
  position: absolute; }

.hero__twitter {
  height: 225px;
  overflow: hidden;
  background: url("/images/city-bg.png") left bottom repeat-x; }

.hero__twitter__mascot {
  height: auto;
  width: 110px;
  float: right;
  margin-top: 15px;
  position: relative;
  z-index: 20; }

.hero__twitter__mascot__header {
  position: absolute;
  top: 27px;
  right: 26px;
  background-color: #191b3f;
  z-index: 30; }
  .hero__twitter__mascot__header h2 {
    color: #ffffff;
    font-weight: normal;
    line-height: 0.5;
    margin-bottom: 0;
    padding: 0.75em;
    text-transform: uppercase; }
  .hero__twitter__mascot__header:after {
    height: 0;
    width: 0;
    content: "";
    border-left: 17px solid transparent;
    border-right: 2px solid transparent;
    border-top: 23px solid #191b3f;
    margin: 0 0 0 74px;
    position: absolute; }

.hero__twitter__feed-item {
  padding-right: 1em; }
  .hero__twitter__feed-item p {
    line-height: 1.4;
    margin: 10px 0 5px 0; }

.hero__twitter__bottom-bar {
  color: #ffffff;
  background-color: #3fa5dd;
  border-bottom: 2px #2580b3 solid;
  margin-top: -3.25em;
  position: relative;
  z-index: 10; }
  .hero__twitter__bottom-bar i {
    margin-right: 10px; }

.home-video {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .home-video:last-child {
    margin-right: 0; }

.home-video__thumb {
  width: 100%; }

.home-writing {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .home-writing:last-child {
    margin-right: 0; }

.home-writing__thumbnail {
  height: 16em;
  overflow: hidden; }
  .home-writing__thumbnail img {
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: auto; }

.link-header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #2395d8;
  margin-top: 3em;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative; }

.link-header__left-area {
  margin-left: 8px; }

.link-header__left-area__mascot {
  position: absolute;
  top: 0;
  height: auto;
  width: 55px;
  display: block;
  float: left; }

.link-header__left-area__text {
  position: absolute;
  top: 0;
  left: 75px;
  color: #ffffff;
  font-weight: normal;
  margin-top: -5px;
  text-transform: uppercase; }
  .link-header__left-area__text h2 {
    background-color: #191b3f;
    font-weight: normal;
    line-height: 0.5;
    padding: 0.5em; }

.link-header__left-area__text:before {
  width: 0;
  height: 0;
  background-color: none;
  border-bottom: 10px solid #191b3f;
  border-left: 15px solid transparent;
  bottom: -20px;
  content: "";
  margin-left: -15px;
  margin-top: 10px;
  position: relative; }

.link-header__view-all {
  color: #191b3f;
  display: block;
  height: 40px;
  float: right;
  font-weight: bold;
  font-size: 0.75em; }

.link-header__view-all:after {
  content: url("/images/arrow.png");
  display: block;
  float: right;
  margin: -4px 0 0 10px; }

.navigation-bar {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .navigation-bar::after {
    clear: both;
    content: "";
    display: table; }

.navigation-bar__logo {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 14.7019570017%; }
  .navigation-bar__logo:last-child {
    margin-right: 0; }

.navigation-bar__nav {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 74.4105871005%;
  float: right;
  margin-top: 0.5em;
  text-align: right; }
  .navigation-bar__nav:last-child {
    margin-right: 0; }
  .navigation-bar__nav::after {
    clear: both;
    content: "";
    display: table; }
  .navigation-bar__nav ul {
    border: 1px solid #2395d8;
    display: inline-block; }
  .navigation-bar__nav li {
    display: inline-block;
    border-right: 1px solid #2395d8; }
  .navigation-bar__nav a {
    color: #191b3f;
    text-transform: uppercase;
    display: inline-block;
    padding: 1em; }
  .navigation-bar__nav li:last-child {
    border-right: none; }

.navigation-bar__nav__right {
  margin-left: -6px;
  padding: 0 1em; }

.navigation-bar__nav__right li {
  border: none; }
  .navigation-bar__nav__right li .twitter {
    color: #28aae1; }
  .navigation-bar__nav__right li .youtube {
    color: #db2724; }
  .navigation-bar__nav__right li .facebook {
    color: #3b5998; }
  .navigation-bar__nav__right li a {
    padding: 1em 0.5em; }

.secondary-nav {
  background-color: #0072b1; }

.secondary-nav__nav {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700; }
  .secondary-nav__nav li {
    display: inline-block;
    padding-left: 20px; }
  .secondary-nav__nav li:first-child {
    padding-left: 0; }
  .secondary-nav__nav a {
    color: #ffffff; }

.section, .section--large, .section--mini {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 1em; }
  .section::after, .section--large::after, .section--mini::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 75em) {
    .section, .section--large, .section--mini {
      padding: 1em 0; } }

.section--large {
  padding: 3em 1em; }
  @media screen and (min-width: 75em) {
    .section--large {
      padding: 3em 0; } }

.section--full {
  padding: 1em 0; }

.section--mini {
  padding-top: 0;
  padding-bottom: 0; }

.section--gray {
  background-color: #f2f6f7;
  border-top: 2px solid #e1e5e6; }

.hero__twitter {
  background-color: rgba(0, 132, 209, 0.9); }

.hero__twitter__feed-item {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%;
  color: #ffffff; }
  .hero__twitter__feed-item:last-child {
    margin-right: 0; }
  .hero__twitter__feed-item p {
    color: #ffffff; }

.video {
  background-color: #0d1b21; }
  .video iframe {
    margin: 0 auto; }

.video-details__summary {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .video-details__summary:last-child {
    margin-right: 0; }

.video-details__crew {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .video-details__crew:last-child {
    margin-right: 0; }
